html, body, div, span, p
  margin 0
  padding 0
  border 0
  font-size 100%
  font-weight normal
  vertical-align baseline
  box-sizing border-box

div
  background-repeat no-repeat

body
  line-height 1

a
  color #7e8c8d
  -webkit-backface-visibility hidden
  text-decoration none

li
  list-style none

body
  -webkit-text-size-adjust none
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
